In [5]:
import sys
sys.path.append('../')
from jurbey.jurbey import JURBEY
import pandas as pd


with open('1558537930325.jurbey', 'rb') as tempf:
    g = JURBEY.load(tempf.read())
    
def populate_graph_with_max_speed(g):
    for e in g.edges(data=True):
        try:
            g[e[0]][e[1]]["speed"] = float(g[e[0]][e[1]]["data"].metadata.get("maxspeed", 10))
        except ValueError:
            g[e[0]][e[1]]["speed"] = 10
    return g

g = populate_graph_with_max_speed(g)

FileNotFoundError: [Errno 2] No such file or directory: '1558537930325.jurbey'

In [ ]:
import networkx as nx
df = nx.to_pandas_edgelist(g)
print(df[0:10])

In [ ]:
df = df[['source', 'target', 'speed']]
df.rename(columns={'speed': 'weight'})
df = df[0:100]

In [ ]:
from src.nmf.fast_nmf import train_nmf
from fastai.tabular import data, optim

train_nmf(dataset=df)

In [1]:
import pandas

In [3]:
df = pandas.read_csv('../data/timeseries_speed_april_first_week.csv')

In [4]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,136,137,138,139,140,141,142,143,from_node,to_node
0,result.average,NaN,NaN,NaN,28.817616,29.111668,8.288389,6.779508,10.833259,9.540780,...,9.136869,11.530145,8.263133,21.063414,6.517024,8.931566,9.542779,7.236827,628154368,1023689595
1,result.average,NaN,NaN,NaN,28.817616,29.111668,8.288389,6.779508,10.833259,9.540780,...,9.136869,11.530145,8.263133,21.063414,6.517024,8.931566,9.542779,7.236827,628154368,1023689595
2,result.average,NaN,NaN,18.285511,NaN,NaN,10.486210,16.631804,11.133786,7.663071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,527147009,27537239
3,result.average,NaN,NaN,NaN,NaN,19.033088,NaN,NaN,4.873969,12.137977,...,NaN,NaN,NaN,12.890066,NaN,NaN,13.178754,NaN,527147009,26908815
4,result.average,NaN,NaN,10.952773,20.377332,9.472034,7.588203,9.702233,6.167263,5.860414,...,6.705081,9.684380,29.012508,14.253002,8.932515,6.764400,10.154796,10.821180,628154370,3804638178